*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(24, 28, 63);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tiltcard{
    width: 421px;
    height: 614px;
    background: rgba(0, 0, 0, 0);
    margin: 0 20px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.tiltcard img {
    width: 100%; /* Stretch image to fill card width */
    height: auto;  /* Maintain image aspect ratio */
    object-fit: cover; /* Crop image to fit within card while maintaining aspect ratio */
    border-radius: 6px;  
    border: 1px solid rgba(0, 0, 0, 0);
}